.infoCardContainer {
    background-color: #555;
    color: rgb(219, 33, 33);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }