:root{
  --text-bot-color: #f4f7f9;
  --send-input-color: #f4f7f9;
  --color-primary: #0B305A;
  font-size: 95%;
}
/* Estrutura Card - BOT */
.order-box{
    width:100%;
}
.finish-order{
    margin-top:10px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.finish-order button{
    outline: none;
    border:none;
    width:70%;
    height:7vh;
    padding:0px 10px;
    background:#8BC34A;
    font-family: Arial, Helvetica, sans-serif;
    color:#f3f3f3;
    font-size:0.9rem;
    cursor:pointer;
}
.wrapper {
      height: auto;
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
    }

    /* width */
    .wrapper::-webkit-scrollbar {
      height: 7px;
    }

    /* Track */
    .wrapper::-webkit-scrollbar-track {
      background: #f3f3f3;
    }

    /* Handle */
    .wrapper::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 15px;
    }

    /* Handle on hover */
    .wrapper::-webkit-scrollbar-thumb:hover {
      background: #666;
    }

    .wrapper_child {
      display: flex;
      height: inherit;
    }

    .wrapper_child>.tab {
      width: 34%;
      height: 100%;
      text-align: center;
      padding: 10px;
      margin: 0 10px;
      border-right: 1px solid #f3f3f3;
    }

    .tab .title-box {
      padding: 0px;
      margin: 0px;
      height: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .tab .price-box {
      margin: 8px 0px;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

    .tab .price-box span {
      font-weight: bold;
      font-size: 11px;
    }

    .tab .buttons-qtd-box {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
    }

    .tab .buttons-qtd-box input,
    button {
      border: none;
      outline: none;
    }

    .tab .buttons-qtd-box .plus {
      background: #8BC34A;
      color: #f3f3f3;
      height: 25px;
      width: 25px;
      cursor: pointer;
    }

    .tab .buttons-qtd-box .minus {
      background: #BB0321;
      color: #f3f3f3;
      height: 25px;
      width: 25px;
      cursor: pointer;
    }

    .tab .buttons-qtd-box input {
      width: 30px;
      border-top: 1px solid #f3f3f3;
      border-bottom: 1px solid #f3f3f3;
      text-align: center;
    }
/* Estrutura Buttons - BOT */
.sug-container{
    width:100%;
}
.sug-container h5{
    font-size:10px;
    opacity:0.7;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button-bot-option{
    flex: 1;
    background:#f3f3f3;
    color: #333;
    font-size: 0.7rem;
    font-weight:bold;
    font-family: 'Helvetica';
    border:1px solid #ddd;
    height:5vh;
    padding:5px;
    border-radius:15px;
    margin-right:10px;
}
.button-bot-option:hover{
    background: #d1e4f9;
    cursor:pointer;
    text-decoration:underline;
}
.button-bot-option:focus{
    outline: none;  
}
/* Estrutura Geral - BOT */
.rcw-conversation-container .rcw-header {
    background-color: var(--color-primary);
    border-radius: 10px 10px 0 0;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}
.rcw-conversation-container .rcw-title {
    font-size: 15px;
    /* padding:9px 10px; */
    margin: 0;
}
.rcw-conversation-container .rcw-close-button {
    display: none;
}
.rcw-conversation-container .avatar {
    width: 30px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle;
}
.rcw-full-screen .rcw-header {
    border-radius: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
}
.rcw-full-screen .rcw-title {
    padding: 0 0 15px;
}
.rcw-full-screen .rcw-close-button {
    background-color: #0B305A;
    border: 0;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px;
}
.rcw-full-screen .rcw-close {
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 800px) {
    .rcw-conversation-container .rcw-header {
        border-radius: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        position: relative;
    }
    .rcw-conversation-container .rcw-title {
        padding: 0 0 15px;
    }
    .rcw-conversation-container .rcw-close-button {
        background-color: #35cce6;
        border: 0;
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        width: 40px;
    }
    .rcw-conversation-container .rcw-close {
        width: 20px;
        height: 20px;
    }
}
.rcw-message {
    margin: 10px;
    display: -ms-flexbox;
    display: flex;
    word-wrap: break-word;
}
.rcw-timestamp {
    font-size: 9px;
    margin-top: 5px;
}
.rcw-client {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
}
.rcw-client .rcw-message-text {
    background-color: #a3eaf7;
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
    font-size:15px;
}
.rcw-client .rcw-timestamp {
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.rcw-response {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}
.rcw-response .rcw-message-text {
    background-color: var(--text-bot-color);
    padding: 15px;
    max-width: 215px;
    text-align: left;
    border-radius: 15px 15px 15px 0px;
    position:relative;
    font-size:15px;
}
.rcw-response > .rcw-message-text:after{
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 8px solid var(--text-bot-color);
	
	bottom: 0px;
  left: -13px;
  position:absolute;
}
.rcw-message-text p {
    margin: 0;
}
.rcw-message-text img {
    width: 100%;
    object-fit: contain;
}
.rcw-avatar {
    width: 38px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}
.rcw-snippet {
    background-color: var(--send-input-color);
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
}
.rcw-snippet-title {
    margin: 0;
}
.rcw-snippet-details {
    border-left: 2px solid #35e65d;
    margin-top: 5px;
    padding-left: 10px;
}
.rcw-link {
    font-size: 12px;
}
.quick-button {
    background: none;
    border-radius: 15px;
    border: 2px solid #0B305A;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
    outline: 0;
}
.quick-button:active {
    background: #0B305A;
    color: #fff;
}
.loader {
    margin: 10px;
    display: none;
}
.loader.active {
    display: -ms-flexbox;
    display: flex;
}
.loader-container {
    background-color: #f4f7f9;
    border-radius: 10px;
    padding: 15px;
    max-width: 215px;
    text-align: left;
}
.loader-dots {
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: gray;
    margin-right: 2px;
    animation: a 0.5s ease infinite alternate;
}
.loader-dots:first-child {
    animation-delay: 0.2s;
}
.loader-dots:nth-child(2) {
    animation-delay: 0.3s;
}
.loader-dots:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes a {
    0% {
        transform: translateY(0);
    }
    to {
        transform: translateY(5px);
    }
}
.rcw-messages-container {
    background-color: #fff;
    height: 50vh;
    max-height: 410px;
    overflow-y: scroll;
    padding-top: 10px;
    -webkit-overflow-scrolling: touch;
}
.rcw-full-screen .rcw-messages-container {
    height: 100%;
    max-height: none;
}
@media screen and (max-width: 800px) {
    .rcw-messages-container {
        height: 100%;
        max-height: none;
    }
}
.rcw-sender {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--send-input-color);
    height: 45px;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}
.rcw-sender.expand {
    height: 55px;
}
.rcw-new-message {
    width: 100%;
    border: 0;
    background-color: var(--send-input-color);
    height: 30px;
    padding-left: 15px;
    resize: none;
}
.rcw-new-message:focus {
    outline: none;
}
.rcw-new-message.expand {
    height: 40px;
}
.rcw-send {
    background: var(--send-input-color);
    border: 0;
}
.rcw-send .rcw-send-icon {
    height: 25px;
}
@media screen and (max-width: 800px) {
    .rcw-sender {
        border-radius: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}
.quick-buttons-container {
    background: #fff;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}
.quick-buttons-container .quick-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.quick-buttons-container .quick-buttons .quick-list-button {
    display: inline-block;
    margin-right: 10px;
}
@media screen and (max-width: 800px) {
    .quick-buttons-container {
        padding-bottom: 15px;
    }
}
.rcw-conversation-container {
    border-radius: 10px;
    box-shadow: 0 2px 10px 1px #333;
}
.rcw-conversation-container.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.rcw-conversation-container.hidden {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.rcw-full-screen .rcw-conversation-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
@media screen and (max-width: 800px) {
    .rcw-conversation-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
    }
}
.rcw-launcher .rcw-badge {
    position: fixed;
    top: -10px;
    right: -5px;
    background-color: red;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}
.rcw-launcher {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: d;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: d;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: d;
    animation-fill-mode: forwards;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 10px 1px #333;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
    width: 60px;
}
.rcw-launcher:focus {
    outline: none;
}
.rcw-open-launcher {
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: c;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: c;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: c;
    animation-fill-mode: forwards;
}
.rcw-close-launcher {
    width: 20px;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: b;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: b;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-name: b;
    animation-fill-mode: forwards;
}
/* Order Card */
.rcw-message-order{
    width:100%;
}
.rcw-order-title {
    font-size:0.7rem;
    font-weight:bold;
    padding:0px;
    margin:0px;
}
.rcw-order-result {
    font-size: 1.1rem;
    font-weight:normal;
    padding-left:10px;
}
@media screen and (max-width: 800px) {
    .rcw-launcher {
        bottom: 0;
        margin: 20px;
        position: fixed;
        right: 0;
    }
    .rcw-hide-sm {
        display: none;
    }
}
.rcw-previewer-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
}
.rcw-previewer-container .rcw-previewer-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.3s ease;
}
.rcw-previewer-container .rcw-previewer-tools {
    position: fixed;
    right: 16px;
    bottom: 16px;
    -ms-flex-direction: column;
    flex-direction: column;
}
.rcw-previewer-container .rcw-previewer-button,
.rcw-previewer-container .rcw-previewer-tools {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.rcw-previewer-container .rcw-previewer-button {
    padding: 0;
    margin: 16px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    outline: none;
    background-color: #fff;
    border: none;
}
.rcw-previewer-container .rcw-previewer-close-button {
    position: absolute;
    right: 0;
    top: 0;
}
.rcw-previewer-container .rcw-previewer-veil {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
}
@keyframes b {
    0% {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0);
    }
}
@keyframes c {
    0% {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0);
    }
}
@keyframes d {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.rcw-widget-container {
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 0;
    width: 90vw;
    z-index: 9999;
}
.rcw-full-screen {
    height: 100vh;
    margin: 0;
    max-width: none;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .rcw-widget-container {
        height: 100%;
        height: 100vh;
        margin: 0;
        max-width: none;
        width: 100%;
    }
}
.rcw-previewer .rcw-message-img {
    cursor: pointer;
}
