<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/style.css">

        <title>XCoders-API</title>

    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1>X-CODERS API DOC</h1>
            </header>

            <main class="main">
                <p>
                    Esta pagina contém as diretrízes de uso desta API.<br />
                    Abaixo, segue os recursos possíveis de uso da api.
                </p>
            </main>
            <section class="section">
                <h4><span>ROTA: </span>/:shop</h4>
                <p>
                    Esta rota não contém nenhuma informação, mas serve de subrota.
                    Para acessar os itens posteriores, é necessário acessar essa rota.
                    Só não serve de critério para a rota /ordens, que é referência à loja principal. 
                </p>
                <br />
                <h4><span>ROTA: </span>/:shop/orders</h4>
                <p>
                    Esta rota retorna os pedidos da loja solicitada. 
                    
                    Exemplo de uso: /{nome_da_loja}/orders
                    Saida:
                </p>

            </section>
            <footer class="footer">
                Copyright(c) 2020 - X-Coders
            </footer>
        </div>
    </body>
</html>