.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  width: 100%!important;
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
  background: #ffffff;
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  transition: all .2s ease-in;
  
}

.slide--shelf:hover {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
  -moz-box-shadow:  0 0 20px rgba(0,0,0,.25);;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
  border-color: none;
}